/*styling the body*/
body{
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-attachment: fixed;
}