/*styling the body*/
body{
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-attachment: fixed;
}

/*styling the butto*/
.button1 {
    background-color: lime;
    color: #f15a29;
    border: 2px solid #f15a29;
    
  }
  .jumbotron{
      background-color: #ffff;
      margin-top: 10px;
  }

